$mg-orange : #f28d2a;
$gray-one : #ececec;
$gray-two : #3f3f3f;
$text-color : #000;

$mg-font-light : 'bankgothic_lt_btlight';
$mg-font-medium : 'bankgothic_md_btmedium';


@import "../webfont/font.css";
@import "../font-awesome-4.7.0/scss/font-awesome";
@import "_partials/layout";
@import "_partials/menu";


@import "_partials/mixins-and-functions";
@import "_partials/floating-blocks";


@import "_partials/cover";
@import "_partials/chi-siamo";
@import "_partials/our-works";
@import "_partials/parco-macchine";
@import "_partials/technologies";


@import "_partials/noleggio-freddo";
@import "_partials/partner";
@import "_partials/footer";
