$mg-orange              : #f28d2a;
$gray-one               : #ececec;
$gray-two               : #3f3f3f;
$text-color             : #000;
$mg-orange-light        : lighten($mg-orange, 10);
$mg-orange-dark         : darken($mg-orange, 10);


$mg-font-light : 'bankgothic_lt_btlight';
$mg-font-medium : 'bankgothic_md_btmedium';

@import "../webfont/font.css";
//@import "../font-awesome-4.7.0/scss/font-awesome";
@import "../font-awesome-4.7.0/css/font-awesome.min.css";

@import "vendors";

@import "_partials/mixins-and-functions";

@import "_partials/text-typography";

@import "_partials/floating-blocks";

@import "_partials/_modals";

@import "_partials/layout";
@import "_partials/menu";

@import "_partials/detail-page";

@import "_partials/cover";
@import "_partials/chi-siamo";
@import "_partials/our-works";
@import "_partials/work-with-us";
@import "_partials/parco-macchine";
@import "_partials/technologies";
@import "_partials/noleggio-freddo";
@import "_partials/partner";
@import "_partials/footer";