.chi-siamo {
  height: 950px;

  .section-title {
    position: absolute;
    left: 26%;

    .heading {
      line-height: 1;
    }
  }

  .svg-element {
    background-color: $mg-orange;
    width: 100px;
    height: 30px;
  }
}