.section-title .heading {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1;
}

h3 {
  margin-bottom: 40px;
}

p {
  margin-bottom: 50px;
  line-height: 1.8;
}

.overlay.darken {
    background: rgba(0, 0, 0, 0.6);
}

.stamp {
  position: absolute;
  width: 53%;
  min-height: 415px;
  padding: 100px;

  .excerpt {
    font-size: 16px;
    // line-height: 1.8;
    text-align: left;
}
}

$color-set: (mg-orange: $mg-orange, mg-gray: $gray-one, mg-black: black);

@each $name, $background in $color-set {
  .stamp-#{$name} {
    background-color: $background;
    color: color-text($background);
    
    .button {
      background-color: color-btn($background);
    }
  }
}

.stamp-top {
  top: 15px;
}

.stamp-down {
  top: 130px;
}

.stamp-left {
  left: 0;
}

.stamp-right {
  right: 0;
}

.stamp-overlay {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.stamp-front {
  z-index: 1;
}

.button {
    text-transform: uppercase;
    padding: 14px 54px;
}




.work-with-us {
  height: 1075px;

  .heading {
    font-size: 5rem; //3rem;
  }
}





/*our works description

left: 0;
position: absolute;
background-color: rgba(0,0,0,0.5);
height: 100%;
width: 30%;*/