#footer {

    &.footer-site, .content-vertical-massive, .row {
        padding-top: 0;
        padding-bottom: 0;
    }

    .content {
        padding: 0;
    }

    .contacts {
        position: relative;

        .container {
            position: absolute;
            z-index: 1;
            right: 0;
            width: 50%;
            background: rgba(255,255,255,0.9);
            max-height: 100%;
            height: 100%;
            padding: 150px 160px;

            .excerpt {

                div {
                    margin-bottom: 55px;
                }

                p {
                    margin-bottom: 10px;
                    line-height: 1;
                    font-size: 1.4rem;
                }

                .phone-mail {
                    float: left;
                    width: 50%;

                    h3, h6 {
                        font-weight: bold;
                    }

                    h3 {
                        margin-bottom: 25px;
                    }

                    h6 {
                        text-transform: uppercase;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                    // p {
                    //     text-indent: 30px;

                    //     &::before {
                    //         content: " ";
                    //         display: block;
                    //         border-top: 3px solid lime;
                    //         width: 15px;
                    //         margin-left: -10px;
                    //     }
                    // }
                }

            }
        }

        .container, .container * {
            color: $text-color;
        }
    }

    [class*="column"] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        max-width: none;
        width: 100%;
    }

    .full-width .layers-map {
        margin: 0;
    }

    .socials {
        color: $gray-two;

        .media {
            margin-top: -62px;
            position: relative;
            z-index: 1;
        }

        h5.heading {
            font-family: $mg-font-light;
            font-size: 4rem;
            color: $gray-two;
        }

        .excerpt {

            p {
                margin-bottom: 0;
            }

            i {
                    font-size: 1.5em;
                    padding: 0 18px;
                }
        }
    }

    .copyright {
        border: none;
        text-align: center;
    }
}