.header-site, .header-site.header-sticky {
    position: absolute;
    top: calc(100vh - 66px);
}

.nav {

    #menu-mgmenu-2 {
        
        li {
            display: inline-block;
            vertical-align: middle;
            float: none;
            
            a {
                color: white;
                font-weight: normal;
                text-transform: uppercase;
                width: auto;
                line-height: 2rem;
                font-family: $mg-font-light;
                font-size: 1.4rem;
                max-width: 7.1em;
                letter-spacing: -0.6px;
                padding: 0 5px;
            }
        }
    }
}