// colore pulsanti
@function color-btn($color) {
  @if ( lightness($color) < 55 or lightness($color) > 92 ){
      @return $mg-orange;
  }
  @else {
      @return black;
  }
}


// colore testo stamps
@function color-text($color) {
  @if ( lightness($color) > 92 ){
      @return black;
  }
  @else {
      @return white;
  }
}