.noleggio-freddo {
  min-height: 950px;
  height: 100vh;

  .section-title {
    position: absolute;
    right: 13%;

    .heading {
      line-height: 1;
    }
  }

  .stamp {

    .heading {
      font-size: 2.8rem;
      font-weight: bold;
    }
  }
}