.our-works {

  > h3{ 
    &::before {
      content: "I Nostri Lavori";
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 2;
      font-weight: bold;
      font-size: 5.5rem;
      line-height: 1;
    }
  }

  .swiper-slide {

    .section-title {
      width: 25%;
    }
  }

  .heading {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
  }
}