.partner {

    &.content-vertical-massive {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .media-image {

        img {
            display: inherit;
        }
    }

    .excerpt {

        p {
            font-size: 1.2rem;
            line-height: 1.3;
            margin-top: 17px;
            margin-bottom: 0;
        }
    }

    h5 {
        margin-top: 15px;
        font-weight: bold;
    }
}