.technologies {

  &::before {
    content: " ";
    position: absolute;
    margin-top: -86px;
    width: 100%;
    height: 797px;
    background: linear-gradient(rgba(61,36,10,0.53), rgba(242,141,42,0.2));
  }

  .container {
    position: relative;
    z-index: 10;
  }
  
  h3.heading {
    text-shadow: 1px 1px 0 black;
    margin-left: 185px;

    &+.excerpt {
      margin-left: 280px;
    }
  }

  .tech-col {
    padding: 35px;
    background-color: rgba(255,255,255,0.8);

    .heading {
      font-weight: bold;
    }

    &:hover {
      
      &::after{
        content: " ";
        background-color: #f28d2a;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    img {
      width: 125px;
    }

    .excerpt {
      font-size: 1.2rem;
      color: $text-color;

      p {
        margin-bottom: 0;
      }
    }
  }
}