.chi-siamo {
  position: relative;
  display: block;

  @include respond-to('small') {
    height: 800px; //950px;
  }

  .section-title {
    text-align: center;

    @include respond-to('medium') {
      position: absolute;
      left: 20%;
    }

    @include respond-to('large') {
      left: 25%;
    }

    .heading {
      margin-bottom: 0;

      @include respond-to('small') {
        line-height: 1;
      }

      @include respond-to('medium') {
        margin-bottom: 40px;
      }
    }
  }

  .stamp-mg-gray {
    background-color: white;

    @include respond-to('medium') {
      background-color: $gray-one;
    }
  }

  .stamp-down {
    top: 0;

    @include respond-to('medium') {
      top: 130px;
    }
  }

  .svg-element {
    display: none;

    @include respond-to('medium') {
      display: block;
      right: 30%;
      top: -10%;
      z-index: 3;
    }
  }

  #rect-one {
    width: calc(25% + 242px);
    height: 12px;
    margin-top: 66px;
    background-color: $mg-orange;
  }

  #rect-two {
    width: 515px;
    height: 12px;
    bottom: 70px;
    left: 24%;
    //box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    z-index: 1;
    background-color: $mg-orange;
  }

  #big-arrow {
    fill: $mg-orange;
    position: relative;
    -webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.6));
            filter: drop-shadow(0 0 2px rgba(0,0,0,0.6));
  }
}