.swiper-container.full-screen {
    height: calc(100vh - 66px);
    margin-bottom: 76px;
}

// .swiper-container:hover .pages {
//     bottom: 66px !important;
// }

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    //bottom: 66px !important;
    opacity: 1;

    @include respond-to('medium') {
        //bottom: 60px !important;
        opacity: 0;
    }
}

.home-cover {

    .underlining {
        top: -20px;
    }

    .idraulica {
        background-position-x: right !important;

        @include respond-to('medium') {
            background-position-x: initial !important;
        }
    }

    .arredo-urbano {
        @extend .idraulica;
    }

    .movimento-terra {
        background-position-x: 80% !important;

        @include respond-to('medium') {
            background-position-x: initial !important;
        }
    }

    .section-title {

        @include respond-to('medium') {
            width: 50%;
            float: left;
        }
    }
    
    .section-title.large {

        .heading {
            
            @include respond-to('medium') {
                font-size: 5.5rem;
            }
        }

        .excerpt {
            font-size: 2rem;
        }
    }
 
    .button {
        width: 62px;
        height: 90px;
        position: absolute;
        margin-top: 0;
        right: 0;
        left: 0;
        margin: auto;
        padding: 0;
        border: none;

        &:hover {
            background-color: transparent;
        }

        @include respond-to('medium') {
            background-color: $mg-orange;
            width: 62px;
            height: 115px - 30px;
            right: 20%;
            left: auto;
            bottom: 25%;


            &:hover {
                background-color: $mg-orange;
            }
        }

        &::before {
            @include respond-to('medium') {
                content: " ";
                position: absolute;
                display: block;
                height: 350px;
                width: 2px; //lorem  ...
                background-color: $mg-orange;
                top: -25px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        &::after {

            @include respond-to('medium') {
                content: " ";
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-right: 31px solid transparent;
                border-left: 31px solid transparent;
                border-top: 31px solid $mg-orange;
                bottom: -31px;
            }
        }

        .fa-angle-down::before {
            bottom: 0;
            position: absolute;
            left: calc(50% - 18px);
            font-size: 56px;
            z-index: 1;

            @include respond-to('medium') {
                bottom: -25px;
                
            }
        }
    }
}