.detail-page-content {

    h3 {
        margin-bottom: 100px - 30px;
    }

    .right-col {
        h5 {
            line-height: 1.3;
            margin-bottom: 25px;
            font-weight: bold;
        }
        p {
            font-size: 18px;
        }
    }
    .underlining {
        top: -60px;
        margin: 0 auto;
    }
}

.detail-page-content:first-child {
    padding-top: 180px;
}