.stamp {
    position: relative;
    width: 100%;
    padding: 30px;

    @include respond-to('medium') {
      position: absolute;
      width: 50%;
      min-height: 415px;
      padding: 100px;
  }

  @include respond-to('large') {
      width: 53%;
      min-height: 415px;
      padding: 100px;
  }

  .excerpt {
    font-size: 16px;
    // line-height: 1.8;
    text-align: left;
  }

  .media .button {
    margin-top: 40px;

    @include respond-to('small') {
      margin-top: 50px;
    }
  }
}

$color-set: (mg-orange: $mg-orange, mg-gray: $gray-one, mg-black: black);

@each $name, $background in $color-set {
  @if $name == mg-gray {
    .stamp-#{$name} {
      background-color: white;
      color: color-text($background);

      @include respond-to('small') {
        background-color: $background;
      }
      
      .button {
        background-color: color-btn($background);
        border-color: color-btn($background);
      }
    }
  }

  @else {
    .stamp-#{$name} {
      background-color: $background;
      color: color-text($background);
      
      .button {
        background-color: color-btn($background);
        border-color: color-btn($background);
      }
    }
  }
}

.stamp-top {

  @include respond-to('medium') {
    top: 15px;
  }
}

.stamp-down {

  @include respond-to('medium') {
    top: 130px;
  }
}

.stamp-center-down {

  @include respond-to('medium') {
    top: 400px;
    left: 60px;
  }
}

.stamp-left {
  left: 0;
}

.stamp-right {
  right: 0;
}

.stamp-overlay {
  @include respond-to('medium') {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
}

.stamp-front {
  z-index: 4;
}

.button, input[type=submit] {
    text-transform: uppercase;
    padding: 14px 54px;
    height: auto;
}