#footer {

    &.footer-site, .content-vertical-massive, .row {
        padding-top: 0;
        padding-bottom: 0;
    }

    .content {
        padding: 0;
    }

    .contacts {
        position: relative;

        .container {
            z-index: 1;
            right: 0;
            background: rgba(255,255,255,0.9);
            max-height: 100%;
            //height: 100%;
            padding: 40px 30px;

            @include respond-to('small') {
                position: absolute;
                //width: 50%;
                margin: 50px 30px;
                padding: 20px 30px;
            }
            @include respond-to('medium') {
                margin: 50px 45px;
                padding: 25px 45px;
            }
            @include respond-to('large') {
                //padding: 90px 160px;
                margin: 40px 60px;
                padding: 40px 90px;
            }

            .section-title {
                margin-bottom: 0;
            }
            
            .excerpt {

                div {
                    margin-bottom: 30px;
                }

                p {
                    margin-bottom: 10px;
                    line-height: 1.4;
                    font-size: 1.4rem;

                    @include respond-to('small') {
                        line-height: 1;
                    }

                }

                .phone-mail {

                    @include respond-to('small') {
                        // float: left;
                        // width: 50%;
                    }

                    h3, h6 {
                        font-weight: bold;
                    }

                    h3 {
                        margin-bottom: 10px;
                    }

                    h6 {
                        text-transform: uppercase;
                        margin-top: 15px;
                        margin-bottom: 5px;
                        margin-left: 37px;
                    }
                    h6 ~ p {
                        margin-top: 0;
                    }
                    .icon {
                        position: relative;
                        height: 26px;
                        margin-right: 10px;
                        margin-top: 1px;
                        text-indent: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 1px;
                        float: left;
                        background: no-repeat center;
                        width: 27px;
                        text-align: right;
                    }

                    .icon-phone {
                        background-image: url(../images/icon-telephone.png);
                        
                    }

                    .icon-mail {
                        background-image: url(../images/icon-mail.png);
                    }

                    .icon-minus {
                        background-image: url(../images/icon-minus.png);
                        height: 13px;
                    }

                    // p {
                    //     text-indent: 30px;

                    //     &::before {
                    //         content: " ";
                    //         display: block;
                    //         border-top: 3px solid lime;
                    //         width: 15px;
                    //         margin-left: -10px;
                    //     }
                    // }
                }

            }
        }

        .container, .container * {
            color: $text-color;
        }
    }

    [class*="column"] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        max-width: none;
        width: 100%;
    }

    .full-width .layers-map {
        margin: 0;
    }

    .socials {
        color: $gray-two;

        .media {
            margin-top: -62px;
            position: relative;
            z-index: 1;
        }

        h5.heading {
            font-family: $mg-font-light;
            font-size: 4rem;
            color: $gray-two;
        }

        .excerpt {

            p {
                margin-bottom: 0;
            }

            i {
                    font-size: 1.5em;
                    padding: 0 18px;
                }
        }
    }

    .copyright {
        border: none;
        text-align: center;
        margin-bottom: 25px;
    }
}