.container {
    padding: 0 0;

    @include respond-to('medium') {
        padding: 0 20px;
    }
}

.nav-horizontal ul{
    display: none;
    @include respond-to('medium'){
        display: inline-block;
    }
}
.responsive-nav{
    display: block;
    @include respond-to('medium'){
        display: none;
    }
}

.overlay.darken {
    background: rgba(0, 0, 0, 0.6);
}

.rect-element {
    display: none;

    @include respond-to('medium') {
        display: block;
    }
}

.underlining {
    height: 12px;
    z-index: 1;
    background-color: #f28d2a;
    position: relative;
}

.svg-element {
  display: none;
}

.svg-element, .rect-element {
  position: absolute;
}

a[name] {
    font-size: 0;
}