.header-site, .header-site.header-sticky {
    position: absolute;
}

.page-id-31 {

    .header-site, .header-site.header-sticky {
        top: calc(100vh - 66px); 
    }
}

.header-site {
    .container {
        padding: 12px;
    }
}

.nav {

    .l-menu {
        color: $text-color;
    }

    #menu-mgmenu-1, #menu-goback-mghome-1 {
        
        li {
            display: inline-block;
            vertical-align: middle;
            float: none;
            margin: 0 6px;
            
            a {
                color: white;
                font-weight: normal;
                text-transform: uppercase;
                width: auto;
                // line-height: 2rem;
                // font-family: $mg-font-light;
                // font-size: 1.4rem;
                // max-width: 7.1em;
                // letter-spacing: -0.6px;
                // padding: 0 5px;

                line-height: 1.7rem;

                font-size: 1.2rem;
                max-width: 7.1em;
                padding: 2px 5px;
            }
        }
    }
}




a{
    &.selected, &.spy {
        font-weight: bold !important;
        background-color: lighten($mg-orange, 10);
    }
}

// a[name] {
//     width: 100%;
//     height: 64px;
//     position: absolute;
//     margin-top: 80px;
// }


.off-canvas-right {
    background-color: $text-color;
    font-family: "Lato";
    padding-top: 50px !important;

    .nav-vertical a {
        padding: 10px 15px;
        font-size: 1.7rem;

        &.selected {
            font-weight: bold !important;
            background-color: $mg-orange;
        }
    }

    .close-canvas {
        padding: 23px 17px;
        background: transparent;

        i {
        margin-right: 4px;
        font-size: 1.7rem;
        font-weight: bold;
        }
    }
}