html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
    padding-right: 0px !important;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .popmake .span-4 {
        width: calc(((100% / 12) * 12) - 20px);
    }
}



.popmake-content {
    .section-title {
        margin-top: 15px;;
    }
    .span-4 {
        p {
            margin-bottom: 50px;
        }
    }
}

#settori-di-collaborazione {
    span:first-child {
        margin-left: 0;
    }
}

//jQuery Modal fix
.blocker {
    z-index: 10 !important;
}

.modal {
    max-width: none !important;
    padding: 40px 60px;
}

//my modal sass begin
textarea,
input, input[type=file],
select,
button{
	width: 100%;
	background-color: $gray-one;
	border: 2px solid #e2e2e2;
    border-radius: 0;
	color: $mg-orange;
	font-family: "Andada", Helvetica, sans-serif;
	font-size: 1.5rem;
    margin-bottom: 10px; //30
    max-width: none !important;
}


label {
    color: black;
}

input.button {
    margin-bottom: 0;
}

input[type=button], input[type=submit], button {
    background-color: $mg-orange;
    color: white;
}



