.noleggio-freddo {
  .layers-masonry-column {
    margin-bottom: 50px;

    @include respond-to('small') {
      margin-bottom: 20px;
    }

    .media-image img {
      width: 140px;

      @include respond-to('small') {
        width: 170px;
      }
    }
  }



  @include respond-to('small') {
    position: relative;
    
    .grid {
      padding-top: 90px;
    }
  }

  .section-title {
    text-align: center;

    @include respond-to('small') {
      position: absolute;
      right: 13%;
      text-align: right;
    }

    .heading {
      
      @include respond-to('small') {
        line-height: 1;
      }
    }
  }

  .stamp {

    .heading {
      font-size: 2.8rem;
      font-weight: bold;
    }

      @include respond-to('medium') {
        width: 36%;

    }
  }

  .stamp-top {

    @include respond-to('medium') {
      top: 15px;
    }
  }

  .stamp-down {

    @include respond-to('medium') {
      top: 130px;
    }
  }

  .stamp-center-down {

    @include respond-to('medium') {
      top: 400px;
      left: 60px;
    }
  }

  .stamp-left {
    left: 111px;
  }

  .stamp-right {
    right: 111px;
  }

  #rect-two {
    width: 615px;
    height: 12px;
    margin-top: 75px;
    right: 0;
    //box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    z-index: 1;
    background-color: $mg-orange;
  }

  .box {

    @include respond-to('medium') {
      padding: 80px;
      padding-bottom: 10px;
    }
  }

}