.our-works {
  min-height: 500px;
  height: calc(105vh - 66px);
  

  > h3 { 
    &::before {
      content: "I Nostri Lavori";
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 2;
      font-weight: bold;
      font-size: 4rem;
      line-height: 1.4;
      margin-top: 5vh;
      color: white;

      @include respond-to('medium') {
        font-size: 5.5rem;
        margin-top: 10vh;
      }
      
    }
  }

  .swiper-slide {
    text-align: center;

    @include respond-to('medium') {
        text-align: left;
      }
    
    .section-title {

      @include respond-to('medium') {
        width: 25%;
      }
    }
  }

  .heading {
    font-size: 3.4rem;

    @include respond-to('medium') {
      font-size: 4rem;
    }
  }
}