.partner-logo-loader {
    background: url(/wp-content/themes/layerswp-child/assets/images/pattern.png);
    // &.content-vertical-massive {
    //     padding-top: 30px;
    //     padding-bottom: 10px;
    // }

    .section-title {

        .heading {
            text-align: center;
            font-size: 3.5rem;

            @include respond-to('small') {
                font-size: 3.3rem;
                margin-bottom: 30px;
            }
        }
    }

    // .partner-logo {
    //     float: left;
    //     width: 150px;
    //     background: lime;
    // }

    .media-image {

        img {
            display: inherit;
        }
    }

    .excerpt {

        p {
            font-size: 1.2rem;
            line-height: 1.3;
            margin-top: 17px;
            margin-bottom: 0;
        }
    }

    h5 {
        margin-top: 15px;
    }
}     


.partner-logo-loader.container {
    margin:0;
    max-width:100%;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;

    @include respond-to('small') {
        padding-top: 40px;
        padding-bottom: 50px;
        
    }
}



.swiper-container.partner-swiper {
    width: 100%;
    //height: 300px;
    //margin: 20px auto;
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: 60%;
        /* Center slide text vertically */
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        display: block;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // -webkit-justify-content: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // -webkit-align-items: center;
        // align-items: center;

        .swip-img, h4 {
            float: none;
        }

        .swip-img {
            min-height: 100px;
        }

        h5 {
            text-transform: uppercase;
        }


    }
    .swiper-slide:nth-child(2n) {
        width: 40%;
    }
    .swiper-slide:nth-child(3n) {
        width: 20%;
    }

}