.parco-macchine {

  .parco-col {
    padding-top: 70px;
    padding-bottom: 40px;
    transition: all 1.2s ease-in-out;

    .media {
        z-index: 1;
        position: relative;
    }

    .heading {
        font-weight: bold;
    }

    .button {
      visibility: hidden;
    }

    &:hover {
      transition: all 1.2s ease-in-out;

      &::before {
        content: " ";
        background-color: lighten(saturate($mg-orange, 8.35), 7.06); //#fc9f44
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1.2s ease-in-out;
      }

      .button {
        visibility: visible;
        background-color: transparent;
      }
    }

    .excerpt {
      font-size: 1.2rem;
    }
  }
}