.technologies {
  position: relative;
  display: block;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;

  @include respond-to('medium') {
    padding-left: initial;
    padding-right: initial;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(61,36,10,0.53), rgba(242,141,42,0.2));
  }

  .container {
    position: relative;
    z-index: 10;
  }
  
  h3.heading {
    text-shadow: 1px 1px 0 black;
    text-align: center;

    @include respond-to('medium') {
      margin-left: 185px;
      text-align: left;
    }

    &+.excerpt {

      @include respond-to('medium') {
        margin-left: 280px;
      }
    }
  }

  .tech-col {
    padding: 35px;
    background-color: rgba(255,255,255,0.8);

    .heading {
      font-weight: bold;
    }

    &:hover {
      
      &::after{
        content: " ";
        background-color: #f28d2a;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    img {
      width: 125px;
    }

    .excerpt {
      font-size: 1.2rem;
      color: $text-color;

      p {
        margin-bottom: 0;
      }
    }
  }

  .svg-element {
    display: none;

    @include respond-to('medium') {
      display: block;
      left: 26%;
      top: -10%;
      z-index: 3;
    }
  }

  #big-arrow {
    position: relative;
    -webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.6));
            filter: drop-shadow(0 0 2px rgba(0,0,0,0.6));
  }
}