h3 {
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.8;
}

.section-title {
  .heading {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.4;
    margin-top: 10px;

    @include respond-to('small') {
      font-size: 4.5rem;
      margin-top: 0;
    }
    @include respond-to('medium') {
      font-size: 5.5rem;
      margin-top: 0;
    }
  }

}

.media { 
    .heading {
        font-size: 2.8rem;
    }
}

.swiper-container {
  
  > h3 {
    margin-bottom: 0;
  }

  .button {
    outline: none;

    @include respond-to('small') {
      margin-top: 50px;
    }
  }
}