.work-with-us {
  position: relative;

  @include respond-to('medium') {
    height: 1075px;
  }
  

  .heading {
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    
    @include respond-to('medium') {
      font-size: 5rem; //3rem;
    }
  }

  #rect-one {
    width: 615px;
    height: 12px;
    margin-top: 190px;
    right: 54vw;
    z-index: 1;
    background-color: #f2a457;
  }

  #rect-two {
    width: 515px;
    height: 12px;
    margin-top: 305px;
    left: 54vw;
    //box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    z-index: 1;
    background-color: $mg-orange;
  }


}

.layers-masonry-column {

  #wpcf7-f751-o1 {

    .grid {
      -webkit-flex-direction: initial;
      flex-direction: initial;

      select {
        height: 33px !important;

        @include border-radius(0);
        @include border-radii(0, 0, 0, 0);
      }
    }

  }
}

.wwu {
  img {
    margin-top: 50px;
  }
}